*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#f5f7f8;
  overflow-x:hidden;
}

nav{
  width:90%;
  margin:auto;
  margin-top:20px;
  padding:18px 30px;
  background:white;
  border-radius:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

nav h2{
  color:#1b4332;
}

.nav-links{
  display:flex;
  align-items:center;
  gap:15px;
}

.nav-links a{
  text-decoration:none;
  color:#333;
  font-weight:bold;
}

.nav-links button{
  padding:10px 22px;
  border:none;
  border-radius:10px;
  background:#2d6a4f;
  color:white;
  cursor:pointer;
  transition:0.3s;
}

.nav-links button:hover{
  background:#1b4332;
  transform:translateY(-3px);
}

.hero{
  width:500px;
  height:500px;
  margin:auto;
  margin-top:40px;
  border-radius:30px;
  overflow:hidden;

  background:url("images/page.jpg");

  background-size:cover;
  background-position:center;

  animation:floatImage 4s ease-in-out infinite;

  box-shadow:0 15px 35px rgba(0,0,0,0.18);
}

.about,
.contact{
  width:85%;
  margin:auto;
  margin-top:50px;
  background:white;
  padding:40px;
  border-radius:25px;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.about h1,
.contact h1{
  color:#1b4332;
  margin-bottom:20px;
  font-size:40px;
}

.about p,
.contact p{
  color:#555;
  line-height:1.9;
  margin-bottom:15px;
  font-size:18px;
}
.about-quote{
  margin-top:25px;
  font-size:22px;
  color:#2d6a4f;
  line-height:1.8;
  font-style:italic;
}
.about-images{
  display:flex;
  gap:25px;
  margin-top:35px;
  flex-wrap:wrap;
}

.image-box1{
  width:320px;
  height:250px;
  border-radius:25px;

  background-image:url("images/about1.jpg");

  background-size:cover;
  background-position:center;

  transition:0.4s;
}

.image-box2{
  width:320px;
  height:250px;
  border-radius:25px;

  background-image:url("images/about2.jpg");

  background-size:cover;
  background-position:center;

  transition:0.4s;
}

.image-box1:hover,
.image-box2:hover{
  transform:scale(1.03);
}
.contact-box{
  margin-top:20px;
}

.contact-box p{
  display:flex;
  align-items:center;
  gap:15px;
}

.contact-box i{
  color:#2d6a4f;
  font-size:22px;
}

@keyframes floatImage{

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-15px);
  }

  100%{
    transform:translateY(0px);
  }

}